@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppings', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-bottom: 10px;

}

h1 {
    font-size: 50px;
}

img {
    width: 60%;
    height: auto;
}

.hidden {
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);
    filter: blur(5px)
}

.show {
    opacity:1;
    transform: translateX(0);
    filter: blur(0);
}